@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraft";
  src: url("/public/Fonts/Minecraft.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("/public/Fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "ElegantoSans";
  src: url("/public/Fonts/ElegantoSans-Thin.ttf");
}
@font-face {
  font-family: "NotoSerif";
  src: url("/public/Fonts/NotoSerif-VariableFont_wdth,wght.ttf") format("ttf");
}

@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 100;
  src: url("/public/Fonts/IBM Plex Serif/IBMPlexSerif-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 200;
  src: url("/public/Fonts/IBM Plex Serif/IBMPlexSerif-Light.ttf") format("ttf");
}
@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 500;
  src: url("/public/Fonts/IBM Plex Serif/IBMPlexSerif-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 900;
  src: url("/public/Fonts/IBM Plex Serif/IBMPlexSerif-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 600;
  src: url("/public/Fonts/IBM Plex Serif/IBMPlexSerif-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("/public/Fonts/Poppins/Poppins-Light.ttf") format("ttf");
}
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 100;
  src: url("/public/Fonts/Noto Sans/NotoSans-Thin.ttf") format("ttf");
}

:root,
.light {
  --primary: #8ea7e9;
  --primary-2: hsl(224, 60%, 85%);
  --primary-3: hsl(224, 97%, 70%);
  --textColor: #01000c;
  --textColorHover: #3160e0;
  --c1: #9289ff;
  --c2: #adebff;
  --c3: #c7fab5;
  --c4: #ffb7ad;
  --c5: #ffa1da;
  --c6: #e2b5f8;

}

.dark {
  --primary: #01000c;
  --primary-2: hsl(247, 67%, 13%);
  --primary-3: hsl(243, 90%, 4%);
  --textColor: #ffffff;
  --textColorHover: #988bfb;
  --c1: #3120f3;
  --c2: #0079ff;
  --c3: #2dee8a;
  --c3: #ee972d;
  --c4: #e85313;
  --c5: #fb1048;
  --c6: #e813b9;
}

::-webkit-scrollbar {
  width: 2px;
  background: var(--primary-2);
}
::-webkit-scrollbar-thumb {
  background: var(--textColor);
}

.nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-3);
  background-image: url('/Assets/grain_dark.png');
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  & button{
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    &:hover{
      background: var(--primary-2);
    }
  }
  & .pages{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
 
    & a{
      cursor: pointer;
      font-family: Noto Sans;
      font-weight: 500;
      color: var(--textColor);
      &:hover{
        color: var(--textColorHover);
      }
    }
  }
  
}


#hero{
  height: auto;
}
@media (min-width:768px) {
  #hero{
    height: 100vh;
  }


}

.footer{
  padding: 1rem;
  background: var(--primary-2);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  & iframe{
   
    width: 100%;
    height: 100%;
  }
}
@media (max-width:800px) {
  .footer{
    grid-template-columns: 1fr;
    grid-template-rows: auto 40vh;
    & iframe{
      height: 100%;
    }
  }
}
body {
  background-image: url('./Assets/grain_dark.png');
  margin-top: 60px;
}

body:has(.LockedScene){
  margin-top: 0;
}

#RollingText {

  user-select: none;
  overflow: hidden;
  & img{
    height: 100%;
    width: auto;
/* aspect-ratio: 14/9; */
object-fit: cover;
border-radius: 30px;
}}
#RollingText h1 {

  font-family: Noto Serif;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  animation: 200s T1Ani linear 0s infinite;
}
#RollingText h2 {
  font-family: Eleganto Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 100px;
  line-height: 90%;
  animation: 140s linear  infinite T2Ani;
}

@media (min-width:1000px) {
  #RollingText h1 {
    font-family: Noto Serif;
    font-size: 600px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
    animation: 200s T1Ani linear 0s infinite;
  }
  #RollingText h2 {
    font-family: Eleganto Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 300px;
    line-height: 90%;
  }

}


@keyframes T1Ani {
  0% {
    translate: 0ch 0;
  }
  100% {
    translate: -1000% 0;
  }
}
@keyframes T2Ani {
  0% {
    translate: 0ch 0;
  }
  100% {
    translate: -1000% 0;
  }
}

.card {

  cursor: pointer;
  aspect-ratio: 16/10;
  width: 20rem;
  padding: 1rem;
  position: relative;

  /* outline: rgba(128, 128, 128, 0.2) 1px solid; */
  transition: outline 0.3s;
  border-radius: 9px;
  z-index: 1;
  /* &:hover .cardOutline::after{
    opacity: 1;
  } */
  overflow: hidden;
  background-size: cover;
  & p{
    width: 90%;    
  }
  &:hover::after{
    opacity: 1;
  }
  &::after{
    border: inherit;
    pointer-events: none;
    transition: opacity .8s;
    opacity: 0;
    content: '';
    display: block;
    top: 0;
    left: 0;
    background-size:cover;
    background-position: 10%;
    mix-blend-mode:screen;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./Assets/stars-slide.gif');
  }

}
.cardOutline {
  background: none;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 1px; */
  /* background: white; */
  position: relative;
  /* z-index: -1; */
  transition: scale .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover{
    scale: 1.01;
  &::after{
opacity: 0;
  }}
  &::after {
    opacity: 0;
    content: "";
    display: flex;
    position: absolute;
    background: linear-gradient(30deg,transparent,white,transparent);
    width: 100%;
    aspect-ratio: 1/1;
     top: 0%;
    left: 0%; 
    transition: opacity .5s;
  }
}



#REFRESHMENTSTABLE th,#REFRESHMENTSTABLE td{
  border: 1px solid;
  padding: 6px;
}

#Scene{
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 70%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 70%);
}


/* team_page */
/* /////////////////////////////////////////////////////////////////////// */
.team{
  width: auto;
  /* color: black; */
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.personCard{
  background: var(--primary-2);
  cursor: default;
  transition-duration:200ms;
  & img{
    transition-duration: 400ms;
    scale: 100%;

  }
  &:hover{
    scale: 105%;
    & img{
      scale: 108%;
    }
  }
}

.ONLYFACULTY{
  & .faculty{
    &.flex{
      display:flex;

    }
    display: block;
  }
  & .student{
    display: none;
    opacity: 0;
  }
}
.ONLYSTUDENTS{
  & .student{
    &.flex{
      display:flex;

    }
    display: block;
  }
  & .faculty{
    display: none;
    opacity: 0;
  }
}

.LockedScene{
  margin-top: 5vh;
  /* position: relative; */
  z-index: 10000;
border-radius: 0;
 width: 100vw;
 height: 100vh;

}
@media (min-width:800px) {
    .sponsors{
  width: 42vw;
    }
}
.sponsors{


  padding-bottom: 10px;
  & a img{
    object-fit: scale-down;
    max-height: 30vw;
    width: 40vw;
/* background: white; */
  }
}
#LINKS{
  display: flex;
  gap: 6px;
}
#LINKS a{
  display: flex;
  gap: 2px;
transition: .2s;
&:hover{
  color: #08984e;
}
}
/* <div class="personCard w-40 bg-primary h-auto overflow-hidden rounded-lg ">
<img src="/Assets/Members/Rhys.jpg" alt="">
<div class="p-2">
  <h1 class="font-rubik font-bold">Rhys Rodrigues</h1>
<a class="text-sm font-thin hover:text-textColorHover" href="https://wa.me/917588354003">Whatsapp Me</a>  
</div>

</div> */

/* 
.team_inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.member{
  width: auto;
  margin: 0px;
  width: 200px;
}

.member_name{
  margin: 0px;
  padding: 0px;
}
.member_title{
  margin: 0px;
  padding: 0px;
}

.member_img{
  border-radius: 200px;
  width: 200px;
  height: 200px;
  background-color: rgb(19, 19, 19);
  border: 5px solid white;
} */

/* .member_info{
  font-weight: 600;
  color: white;
} */

/* .main_title{
  font: "Rubik";
  color: white;
  padding: 20px 0px;
  text-shadow: 0px 0px 5px white;
  font-weight: 800;
  font-size: 18px;
} */

